/* content-window styling */
.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px;
    border-color: var(--border-color);
    border-style: solid;
    width: 99%;
    height: 84%;
    position: fixed;
    background-color: var(--content-background-color);
    border-radius: 12px; /* This creates rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .content-container section {
    margin-bottom: 20px;
  }
  
  .content-container h2 {
    margin-bottom: 10px;
  }
  
  .content-container p {
    margin: 0;
  }