.content-box {
  flex: 1;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s box-shadow, 0.3s background-color; /* Reduced transition time for smoother effect */
}

.content-box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase box-shadow on hover */
}

.content-box:hover .title-container {
  background-color: var(--border-color); /* Change to your desired background color */
  transition: background-color 0.3s ease-in-out; /* Smooth transition for background color */
}

.content-box-content {
  font-size: 14px;
  padding: 8px;
  height: max-content;
  color: #666;
}

.title-container {
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Space between title and info icon */
  align-items: center; /* Center items vertically */
  background-color: var(--border-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 4px; /* Add padding for better spacing */
}

.content-box-title {
  font-size: 18px;
  color: #ffffff; 
}

.info-icon {
  margin-left: 8px; /* Space between title and icon */
}
