.content-box {
    flex: 1;
    background-color: var(--foreground-color);
    /* border: 2px solid #dad8d8; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .content-box-title {
    padding: 4px;
    font-size: 24px;
    color: #ffffff; 
  }
  
  .content-box-content {
    font-size: 14px;
    padding: 8px;
    color: #666;
  }

  .title-container {
    background-color: var(--background-color-3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid #dad8d8;
    /* background-color: var(--background-color-3); */
  }
  