.content-box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
    padding: 0;
    margin: 10px 0;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
}
