/* Make the header span the full width of the screen */
.header {
  width: 100%;
  max-width: 100%;
  margin-top: 55px;
  height: 100px;
  background: var(--background-color-3, #2d509c) url('../../background-image-3.jpg') center / 100% auto no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.header-title {
  font-size: 2rem;
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  margin-top: 0px;
}
