/* Make the header span the full width of the screen */
.header {
  width: 100%;
  max-width: 100%;
  margin-top: 55px;
  height: 100px;
  background: linear-gradient(to left, #65a0f8, #bbbbbb);  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.header-title {
  font-size: 2rem;
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  margin-top: 0px;
}
