.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #4e4c4c;
    color: white;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    z-index: 1000;
  }
  
  .footer p {
    margin: 0; /* Remove default margin */
  }
  
