.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4e4c4c; /* Dark background */
    color: white; /* White text */
    text-align: center; /* Center the text */
    padding: 8px 0; /* Padding on top and bottom */
    font-size: 14px;
    z-index: 1000;
  }
  
  .footer p {
    margin: 0; /* Remove default margin */
  }
  