.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a5a2a8;
    border-radius: 15px; /* This creates rounded corners */
    margin: 10px;
    padding: 1rem 2rem;
    width: 98%;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #f0a500;
  }
  